

.scrollingElement {
  overflow: scroll;
  position: absolute;
  top: 213px;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.parallax-container {
  height: 500px;
  width: 100%;
}

